server:
  port: 8080

spring:
  application:
    name: gym-tracker-backend

  datasource:
    url: jdbc:mysql://localhost:3306/gym_tracker?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Europe/Rome
    username: root
    password: CAMBIARE_AL_PRIMO_UTILIZZO
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect